@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif!important;
    border: none;
}
 /* Header CSS Start */
 html {
    font-size:62.5%;
    height:auto;
}

.wrapper {
    width: 100%;
    height: 100%;
  
 
}
.navbar-brand {
    width: 20%;
}
.collapse  {
    width: 500px!important;;
}
.wrapper  .header {
    width: 100%;
    background-color: #fff;
    padding:1rem 0;
    transition: all ease 0.5s;
}
.header.sticky {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display:flex;
    justify-content:space-between;
}

.navbar-brand {
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: #48A682!important;
}
.nav-item .nav-link{
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
    color:#8B8B8B;
    text-transform: capitalize;
}
.nav-item .nav-link:hover {
    color:#48A682!important;
}
.nav-item:first-child {
    margin-left:0!important;
}
.nav-item {
    text-align: center;
    margin: 0 4rem;
}
.shopping-cart {
    background-color: #fff!important;
    outline:none!important;
    border: .2rem solid #B7B3B3;
    padding:.4rem 3rem;
    border-radius: 50px;
    color: #48A682;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
}
.shopping-cart:hover {
    background-color: #48A682!important;
    border: .2rem solid #B7B3B3;
    color:#fff;
    
}
.navbar-nav {
    margin:0 auto;
}
/* Header CSS End */

/* Main start */
main {
    width: 100%;
    margin-top: 2rem;
}
.story__border {
    width: 108px;
    height:10px;
    background: #C4C4C4;
}
.main  .main__story > span {
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #8B8B8B;
display: inline-block;
margin: 1rem 0 1rem 0;
}

.product__item__left {
 
box-sizing: border-box;

}
.product__item__left__img {
    width: 400px;
    height:400px;
    border-radius: 50%;
    border: 1px solid #8B8B8B;
    display:flex;
    align-items: center;
    justify-content:center;
}
.product__item__left .product__item__left__img img {
    width: 100%;
    border-radius: 50%;
  
}
.product__item__right {
    margin-left: 18rem;
}
.product__item__right__details h1 {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 60px;
color: #000000;

}
.bg__product__details {
    width: 100%;
    background: #93DD7B;
}
.product__item__right__details {
    width: 100%;
    background: #93DD7B;
    border-radius: 100px 20px;
    padding:6rem;
}
.product__item__right__details p {
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 2rem;
/* identical to box height */
color: #333;

}
.product__item__right__details p  > strong {
    font-weight: bold;
    color: #000000;
    opacity: 1;
}
.product__item__right__details  b {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 50px;
/* identical to box height */

text-align: center;

color: #FFFFFF
}
.similar-product {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
/* identical to box height */
    text-align: center;
    color: #48A682;
    margin: 8rem 0;
}
.owl-carousel--item h1 {
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 40px;
/* identical to box height */

text-align: center;

color: #000000;
}
.owl-carousel--item p {
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 30px;
text-align: center;

color: #000000;

opacity: 0.3;
}
.owl-carousel--item span {
font-style: normal;
font-weight: bold;
font-size: 36px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}
.owl-carousel {
    position: relative;
    padding-top: 4rem;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    
}
.owl-carousel--item {
    margin-left: 4rem;

}
.owl-prev,  .owl-next{
    position:absolute;
    top:30%;
}
.owl-prev {

    left:-10%!important;
}
.owl-next {

    right:-10%!important;
}

/* Main eND */

/* footer  CSS Start */
.footer {
    width: 100%!important;
}

.footer__details h1 {
font-style: normal;
font-weight: 600;
font-size: 36px;
/* identical to box height */
margin: 2em 0;
color: #48A682;
}
.footer__details {
    width: 80%;
    margin:0 auto;
}
.footer__item h6 {
font-style: normal;
font-weight: 600;
font-size: 2rem;
/* identical to box height */


/* final :D */

color: #48A682;
}
.footer__bottom {
    display:table;
}
.footer__item {
    display:table-cell;
    width: 28%;
}

.footer__item:nth-child(3), .footer__item:nth-child(2) {
    width: 16%;
    margin-left: 2rem;
}
.footer__item__details span {
font-style: normal;
font-weight: 600;
font-size: 2rem;
color: #8B8B8B;
width: 70%;
display:inline-block;
margin-left: 2rem;
}
.footer__item__details {
    margin-top: 2rem;
}
.footer__item  > p {
font-style: normal;
font-weight: 600;
margin:2rem 0;
font-size: 22px;
/* identical to box height */


color: #8B8B8B;

}
.footer__item:last-child .form-group {
    position: relative;
}
.footer__item:last-child .form-group .btn {
    position: absolute;
    top: 0;
    right: 0;
    width :117px;
    height :67px;
    background: #48A682;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

}
.footer__item:last-child .form-group input{
    outline:none!important;
    border: none!important;
    width:100%;
    border: 1.5px solid #B7B3B3!important;
    box-sizing: border-box;
    border-radius: 10px;
    height:67px;
}
.footer__item:last-child .form-group input:focus {
    text-indent: 2rem;
}
::placeholder {
    text-indent: 2rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;

/* a */

color: #8B8B8B;
}
.footer__social {
    margin-top: 2rem;
}

.footer__social .social {
    width: 20%;
    margin-left: 1rem;
}
.footer__social .social img {
    width: 100%;
}
.copy__right {
    width: 100%!important;
    background: #F1F1F1!important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
    color: #8B8B8B;
}
.footer__top {
    margin: 4rem 0;
}
.footer__details h1 {
font-style: normal;
font-weight: 600;
font-size: 36px;
/* identical to box height */
margin: 2rem 0 2rem 2rem;
color: #48A682;
}
.footer__details {
    width: 80%;
    margin:0 auto;
}
/* footer  CSS End */

#topBtn {
    text-align: center;
    line-height:50px;
    position: fixed;
    right:20px;
    bottom: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    color: #fff!important;
    font-size: 2rem;
}
@media only screen and (max-width: 1198px){
  .product__item {
      flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 1024px){
    .product__item {
        flex-wrap: nowrap;
    }
    .product__item {
        flex-direction:column;
    }
    .product__item__right__details {
        margin-top: 4rem;
    }
  }
@media only screen and (max-width: 46rem) {
    /* .navbar CSS START */
    .navbar-collapse {
        width: 80%;
        background-color: #fff;
        box-shadow: 5px 7px 15px #928989;
        margin-top: 2rem;
        border-radius: 1rem;
        text-align: center;
        padding:2rem 0;
    }
    .navbar-brand  {
        width: 50%;
        font-size:1.2rem;
    }
    .nav-link {
        width: 100%;
        font-weight: normal;
        font-size:1rem!important;
    }
    .shopping-cart {
        font-size: 1rem!important;
    }
    .nav-item {
        padding:1rem 0;
        width: 100%!important;
        margin: 0!important;;
    }
    .nav-item:hover {
        background-color: rgba(0,0,0 ,.1);
    }
    .shopping-cart {
        margin-top: 1rem;
    }
    .navbar-nav .nav-link {
        font-size: 1.5rem!important;
        width: 100%!important;
    }
    
    /* .navbar CSS end */
    .footer__bottom {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .footer__item  {
        width: 100%;
        margin: 2rem 0;
    }
    .footer__item:last-child .form-group input {
        width:100%;
    }
    .footer__social {
        display:none;
    }
    .copy__right {
        font-size: 1rem;
    }
    .footer__img {
        text-align: center;
    }
    /* footer css end */
    #topBtn {
        right: 20%;
        z-index: 2000;
    }
    .item .item__details p:last-child  {
        margin:2rem 0;
    }
    .arrow.right  , .arrow.left{
        top: 66px!important;;
    }
    .item__feedback {
        width: 300px !important;
    }
  /* .Header CSS END */
  .product__item__right {
    margin-left: 0!important;
    margin-top: 2rem;
  }
  .product__item__right__details h1 {
    font-size: 4rem;
  }
  .product__item__right__details p {
      font-size:1.5rem;
  }
  .product__item__right__details b {
      font-size:4rem;
  }
  .product__item__left__img {
      width: 100%;
  }
}
@media only screen and (max-width:1350px) {
    .owl-prev {

        left:-3%!important;
    }
    .owl-next {
    
        right:-3%!important;
    }
}
@media only screen and  (max-width: 766px) {
    .navbar{
        flex-direction: column;
    }
    .navbar-brand {
        width: 50%;
    }
}
@media only screen  and (max-width : 1300px) {
    .slider__tab {
        top: 500px!important;
    }
}
@media only screen  and (max-width : 1680px) {
    .slider__tab {
        top:690px;
        left:10px;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1580px) {
    .slider__tab {
        top:650px;
        left:10px;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1498px) {
    .slider__tab {
        top:600px;
        left:10px;
        
    }
    .slider__tab__item span {
        font-size: 1.5rem;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1180px) {
    .slider__tab {
        top: 480px!important;;
        left:10px;
        
    }
    .carousel-caption {
        top: 40px!important;
    }
    .slider__tab__item span {
        font-size: 1.5rem;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1150px) {
    .slider__tab {
        top: 440px!important;;
        left:10px;
        
    }
    .carousel-caption {
        top: 40px!important;
    }
    .slider__tab__item span {
        font-size: 1.4rem;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 736px) {
    .navbar-expand-sm {
        flex-direction: column;
    }
    #navbarMenu{
        width: 100%!important;
        background-color: none !important;
        border:none !important;
        box-shadow: none!important;
    }
    .navbar-nav  {
        width: 100%;
    }
    .story {
        margin:46rem 0;
    }
}
@media only screen  and (max-width : 576px) {
    .navbar-expand-sm {
        flex-direction: row;
    }
}
@media only screen and (max-width:375px) {
   
    /* footer css Start */
    .footer__bottom {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .footer__item  {
        width: 100%;
        margin: 2rem 0;
    }
    .footer__item:last-child .form-group input {
        width:100%;
    }
    .footer__social {
        display:none;
    }
    /* footer css END */
    .item .item__details h1 {
        font-size: 2rem;
    }
    .item__row  {
        margin-top: 20rem;
    }
    .item__feedback  {
        width: 363px!important;
        margin-left: 1rem!important;
    }
    .item__details {
        margin:2rem auto;
        width:80%;
    }
    .product__item__right__details h1 {
        font-size: 3.5rem;
      }
      .product__item__right__details p {
          font-size:1.5rem;
      }
      .product__item__right__details b {
          font-size:2rem;
      }
}
@media only screen and (min-width:768px) and (max-width:1024px)  {
    /* .Header CSS START */
	.header .navbar{
        display:flex;
        flex-direction: column!important;
    }
    .nav-item {
        margin:  2rem;
    }
    .navbar-collapse {
        flex-direction:column;
    }
    /* .Header CSS END */
    
    /* footer css Start */
      .footer__bottom {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .footer__item  {
        width: 100%;
        margin: 2rem 0;
    }
    .footer__item:last-child .form-group input {
        width:100%;
    }
    .footer__social {
        display:none;
    }
    .footer__top {
        margin: 4rem 0;
    }
    .footer__details h1 {
        margin: 2rem 0 2rem 4rem;
        color: #48A682;
    }
    /* footer css End */
    .product__item__right {
        margin-left: 2rem!important;
      }
      .product__item__right__details h1 {
        font-size: 4rem;
      }
      .product__item__right__details p {
          font-size:1.5rem;
      }
      .product__item__right__details b {
          font-size:4rem;
      }
}

@media only screen  and (max-width : 320px) {

 /* footer css Start */
 .footer__bottom {
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.footer__item  {
    width: 100%;
    margin: 2rem 0;
}
.footer__item:last-child .form-group input {
    width:100%;
}
.footer__social {
    display:none;
}
/* footer css End */
.product__item__right__details h1 {
    font-size:2.5rem;
}
}