@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* , *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif!important;
    border: none;
}
 /* Header CSS Start */
html {
    font-size:62.5%;
    height:auto;
}

.wrapper {
    width: 100%;
    height: 100%;
  
 
}
.navbar-brand {
    width: 20%;
}
.collapse  {
    width: 500px!important;;
}
.wrapper  .header {
    width: 100%;
    background-color: #fff;
    padding:1rem 0;
    transition: all ease 0.5s;
}
.header.sticky {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display:flex;
    justify-content:space-between;
}

.navbar-brand {
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    color: #48A682!important;
}
.nav-item .nav-link{
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
    color:#8B8B8B;
    text-transform: capitalize;
}
.nav-item .nav-link:hover {
    color:#48A682!important;
}
.nav-item:first-child {
    margin-left:0!important;
}
.nav-item {
    text-align: center;
    margin: 0 4rem;
}
.shopping-cart {
    background-color: #fff!important;
    outline:none!important;
    border: .2rem solid #B7B3B3;
    padding:.4rem 3rem;
    border-radius: 50px;
    color: #48A682;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
}
.shopping-cart:hover {
    background-color: #48A682!important;
    border: .2rem solid #B7B3B3;
    color:#fff;
    
}
.navbar-nav {
    margin:0 auto;
}
/* Header CSS End */


.main {
    width: 100%;
    margin-top: 2rem;
}
.story__border {
    width: 108px;
    height:10px;
    background: #C4C4C4;
}

.select-container {
    padding:2rem 0;
    outline: none!important;
    border-radius: 1rem;
    border:1px solid #aaa;
    margin:2rem 0;
    position: relative;
}
.select-container select{
    width: 100%;
    background:transparent;
    cursor: pointer;
    font-size:1.5rem;
    color: #000000;
    text-indent: 1.5rem;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;

}
.fa-chevron-down {
    position: absolute;
    top:40%;
    right:2%;
    font-size: 2rem;
    cursor: pointer;
    color: #666;
    pointer-events: none;
}
input[type="number"] {
    width: 100%;
}
.select-number {
    background: #FFFFFF;
    padding:2rem 0;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 10px;
}
.main span {
font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 24px;
color: #8B8B8B;
display: inline-block;
margin: 1rem 0 1rem 0;
}
.form-group  {
    margin-top:2rem;
}
.form-group input{
background: #FFFFFF;
border: 1px solid #B7B3B3;
padding:2rem 0;
box-sizing: border-box;
outline:none!important;
border-radius: 10px;
}

.form-group input:focus {
    text-indent: 2rem;
}
.form-group input::placeholder {
    text-indent: 2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    
    /* #000000 */
    
    color: #000000;
}
h1 {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
/* identical to box height */
margin-top:2rem;

/* #000000 */

color: #000000;
}

input[type="number"] {
    font-size: 1.5rem;
    text-indent: 2rem;
}
.add , .remove{
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
    cursor: pointer;

}
.add  > i {
    color:red;
}
.dynamic__select {
width: 100%;
height: 370px;
background: #F8F8F8;
border-radius: 10px;
}
.dynamic__select  button {
width: 100%;
height: 100px;
background: #48A682;
border-radius: 10px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 3rem;
/* identical to box height */
margin-top: 2rem;
text-align: center;

color: #FFFFFF;
}
/* .Main CSS End*/

/* footer  CSS Start */
.footer {
    width: 100%!important;
}

.footer__details h1 {
font-style: normal;
font-weight: 600;
font-size: 36px;
/* identical to box height */
margin: 2em 0;
color: #48A682;
}
.footer__details {
    width: 80%;
    margin:65rem  auto 0 auto;
}
.footer__item h6 {
font-style: normal;
font-weight: 600;
font-size: 2rem;
/* identical to box height */


/* final :D */

color: #48A682;
}
.footer__bottom {
    display:table;
}
.footer__item {
    display:table-cell;
    width: 28%;
}

.footer__item:nth-child(3), .footer__item:nth-child(2) {
    width: 16%;
    margin-left: 2rem;
}
.footer__item__details span {
font-style: normal;
font-weight: 600;
font-size: 2rem;
color: #8B8B8B;
width: 70%;
display:inline-block;
margin-left: 2rem;
}
.footer__item__details {
    margin-top: 2rem;
}
.footer__item  > p {
font-style: normal;
font-weight: 600;
margin:2rem 0;
font-size: 22px;
/* identical to box height */


color: #8B8B8B;

}
.footer__item:last-child .form-group {
    position: relative;
}
.footer__item:last-child .form-group .btn {
    position: absolute;
    top: 0;
    right: 0;
    width :117px;
    height :67px;
    background: #48A682;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

}
.footer__item:last-child .form-group input{
    outline:none!important;
    border: none!important;
    width:100%;
    border: 1.5px solid #B7B3B3!important;
    box-sizing: border-box;
    border-radius: 10px;
    height:67px;
}
.footer__item:last-child .form-group input:focus {
    text-indent: 2rem;
}
::placeholder {
    text-indent: 2rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;

/* a */

color: #8B8B8B;
}
.footer__social {
    margin-top: 2rem;
}

.footer__social .social {
    width: 20%;
    margin-left: 1rem;
}
.footer__social .social img {
    width: 100%;
}
.copy__right {
    width: 100%!important;
    background: #F1F1F1!important;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
    color: #8B8B8B;
}
.footer__top {
    margin: 4rem 0;
}
.footer__details h1 {
font-style: normal;
font-weight: 600;
font-size: 36px;
/* identical to box height */
margin: 2rem 0 2rem 2rem;
color: #48A682;
}
.footer__details {
    width: 80%;
 
}
/* footer  CSS End */

#topBtn {
    text-align: center;
    line-height:50px;
    position: fixed;
    right:20px;
    bottom: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    color: #fff!important;
    font-size: 2rem;
}

@media only screen and (max-width: 46rem) {
    
    /* .Header CSS START */
    .navbar-collapse {
        width: 80%;
        background-color: #fff;
        box-shadow: 5px 7px 15px #928989;
        margin-top: 2rem;
        border-radius: 1rem;
        text-align: center;
        padding:2rem 0;
    }
    .navbar-brand  {
        width: 50%;
        font-size:1.2rem;
    }
    .nav-link {
        width: 100%;
        font-weight: normal;
        font-size:1rem!important;
    }
    .shopping-cart {
        font-size: 1rem!important;
    }
    .nav-item {
        padding:1rem 0;
        width: 100%!important;
        margin: 0!important;;
    }
    .nav-item:hover {
        background-color: rgba(0,0,0 ,.1);
    }
    .shopping-cart {
        margin-top: 1rem;
    }
    .navbar-nav .nav-link {
        width: 100%!important;
    }
      /* .Header CSS END */



    /* story__main start */
    .story__img__item {
        width: 80%;
        margin:0 auto;
    }
    .main  p {
    width: 90%;
    margin: 0 auto;
    }
    /* story__main end */

  /* footer css Start */
  .footer__bottom {
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.footer__item  {
    width: 100%;
    margin: 2rem 0;
}
.footer__item:last-child .form-group input {
    width:100%;
}
.footer__social {
    display:none;
}
.copy__right {
    font-size: 1rem;
}
h1 {
    font-size:2rem;
    text-align: center;
}
.dynamic__select button {
    font-size: 2rem;
}
.footer__img {
    text-align: center;
} 
/* footer css end */
#topBtn {
    right: 20%;
    z-index: 2000;
}
}
@media only screen and (max-width:375px) {
     /* footer css Start */
     .footer__bottom {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .footer__item  {
        width: 100%;
        margin: 2rem 0;
    }
    .footer__item:last-child .form-group input {
        width:100%;
    }
    .footer__social {
        display:none;
    }
    /* footer css END */
}
@media only screen  and (max-width : 1300px) {
    .slider__tab {
        top: 500px!important;
    }
}
@media only screen  and (max-width : 1680px) {
    .slider__tab {
        top:690px;
        left:10px;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1580px) {
    .slider__tab {
        top:650px;
        left:10px;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1498px) {
    .slider__tab {
        top:600px;
        left:10px;
        
    }
    .slider__tab__item span {
        font-size: 1.5rem;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1180px) {
    .slider__tab {
        top: 480px!important;;
        left:10px;
        
    }
    .carousel-caption {
        top: 40px!important;
    }
    .slider__tab__item span {
        font-size: 1.5rem;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 1150px) {
    .slider__tab {
        top: 440px!important;;
        left:10px;
        
    }
    .carousel-caption {
        top: 40px!important;
    }
    .slider__tab__item span {
        font-size: 1.4rem;
    }
    .slider__tab__item {
        width:20%;
    }
    .slider__tab {
        width: 100%;
    }
}
@media only screen  and (max-width : 736px) {
    .navbar-expand-sm {
        flex-direction: column;
    }
    #navbarMenu{
        width: 100%!important;
        background-color: none !important;
        border:none !important;
        box-shadow: none!important;
    }
    .navbar-nav  {
        width: 100%;
    }
    .story {
        margin:46rem 0;
    }
}
@media only screen  and (max-width : 576px) {
    .navbar-expand-sm {
        flex-direction: row;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px)  {
    /* .Header CSS START */
	.header .navbar{
        display:flex;
        flex-direction: column!important;
    }
    .nav-item {
        margin:  2rem;
    }
    .navbar-collapse {
        flex-direction:column;
    }
    /* .Header CSS END */

      /* footer css Start */
      .footer__bottom {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .footer__item  {
        width: 100%;
        margin: 2rem 0;
    }
    .footer__item:last-child .form-group input {
        width:100%;
    }
    .footer__social {
        display:none;
    }
    .footer__top {
        margin: 4rem 0;
    }
    .footer__details h1 {
        margin: 2rem 0 2rem 4rem;
        color: #48A682;
    }
     /* footer css END */
}
@media only screen  and (max-width : 1400px) {
      /* footer start */
      .footer__item > p {
        font-size: 1.5rem;
    }
    .footer__item__details span {
        font-size: 1.5rem;
    }
    /* footer end */
}
@media only screen  and (max-width : 1348px) {
       /* footer start */
       .footer__item > p {
        font-size: 1.5rem;
    }
    .footer__item__details span {
        font-size: 1.5rem;
    }
    /* footer end */
}
@media only screen  and (max-width : 360px) {
        /* footer css Start */
        .footer__bottom {
            display:flex;
            flex-direction: column;
            justify-content:center;
        }
        .footer__item  {
            width: 100%;
            margin: 2rem 0;
        }
        .footer__item:last-child .form-group input {
            width:100%;
        }
        .footer__social {
            display:none;
        }
        /* footer css END */
}
@media only screen  and (max-width : 320px) {
      /* footer css Start */
      .footer__bottom {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .footer__item  {
        width: 100%;
        margin: 2rem 0;
    }
    .footer__item:last-child .form-group input {
        width:100%;
    }
    .footer__social {
        display:none;
    }
    /* footer css End */
}